/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.cdnfonts.com/css/underland');
@import url('https://fonts.cdnfonts.com/css/morning-sweetest');

body,
html {
    /* font-family: 'Underland', sans-serif; */

    font-family: 'Morning Sweetest', sans-serif;

    font-size: 1rem;
}

body,
.welcome-container {
    padding-top: 64px;
}